footer {
  background-color: #343237;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

h4 {
  color: #0dbfc1;
  font-family: 'League Spartan', sans-serif;
}

.txt-footer {
  font-family: 'League Spartan', sans-serif;
}




