form {
  background-color: aqua;
  font-family: 'league spartan';
  margin: 0 auto;
  max-width: 50rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  padding: 2rem;
 }

[class^="field"]{
  display: grid;
  input{order: 1;}
}