.card_container {
  display: grid;
  //grid-template-columns: repeat(4, 1fr); 
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
 width: 90%;
  grid-template-rows: repeat(3, 1fr); 
  gap: 10px; 
  margin: 0 auto;
}

.card-pics{
  //background-color: #ccc;
  padding: 20px;
  text-align: left;
}

.card-pics img {
  width: 100%;
  height: auto;
}
.card-txt {
  margin-left: 8px;
}
.speaker_name {
  color: #5444b7;
  white-space: pre-line;
}

.speaker_city {
  color: #b5b0c1;
}