.card_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  margin-top: 30px;
  margin-left: 5rem;
  margin-right: 5rem;
}

.card-pics {
  display: flex;
  flex-direction: column;
}

.card-pics img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card_pattern {
  display: block;
  justify-content: right;
  margin-top: -50px;
}

.card-txt {
  margin-top: -25px;
  margin-left: 12px;
  font-family: 'Museonormal', sans-serif;
}

.speaker_name {
  color: #4d436c;
  font-size: x-large;
  white-space: pre-line;
}

.speaker_city {
  color: #aba5b9;
  margin-top: -20px;
}

.speaker_theme, .speaker_txt, .time, .room, .speaker_link {
  display: none;
}

